<form method="post" action="{{ path('music_delete', {'nombre': musique.nombre}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ musique.nombre) }}">
    <button class="btn btn-danger">Delete</button>
</form>
