{% extends 'baseAdmin.html.twig' %}

{% block title %}New Musique{% endblock %}

{% block body %}
    <h1>Create new Musique</h1>

    {{ include('music/_form.html.twig') }}

    <a href="{{ path('music_index') }}">back to list</a>
{% endblock %}
