{% extends 'base.html.twig' %}


{% block title %}Affichage coach!{% endblock %}
{% block body %}
<table>
    <tr>
    <th> Id</th> 
    <th> nom</th>
    </tr>

    <tr{% for c in coach %}>
        <td> {{ c.id }}</td>
        <td> {{ c.nom }}</td>
   </tr  {%endfor%}>
   
</table>

{% endblock %}